[build]
builder = "DOCKERFILE"
dockerfilePath = "docker/Dockerfile.cart-service"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
