# admin-dashboard-service Environment Variables

# Server
PORT=3012
NODE_ENV=development

# Database (seleccionar según necesidad)
# DATABASE_URL=postgresql://user:password@localhost:5432/admin_dashboard_service_db
# MONGODB_URI=mongodb://localhost:27017/admin_dashboard_service_db
# REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-secret-key

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3009

# Logging
LOG_LEVEL=info
