[build]
builder = "NIXPACKS"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5
healthcheckPath = "/"
healthcheckTimeout = 60
startCommand = "npm run preview -- --host 0.0.0.0 --port ${PORT:-3000}"
