[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile.railway"
watchPatterns = ["**"]

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 300
startCommand = "nginx -g 'daemon off;'"
