global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node-backend'
    static_configs:
      - targets: ['auth-service:3001', 'product-service:3009', 'user-service:3003', 'order-service:3004']
