# Nixpacks configuration
[phases.setup]
nixPkgs = ['nodejs']

[phases.install]
cmds = [
  'npm install --production',
  'mkdir -p node_modules/@flores-victoria',
  'cp -r ../shared node_modules/@flores-victoria/',
  'cd node_modules/@flores-victoria/shared && npm install --production'
]

[start]
cmd = 'node src/server.js'
