[build]
builder = "DOCKERFILE"
dockerfilePath = "microservices/product-service/Dockerfile"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100
startCommand = "node src/server.js"
