
[build]
builder = "DOCKERFILE"
dockerfilePath = "microservices/wishlist-service/Dockerfile"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
