[build]
builder = "DOCKERFILE"
dockerfilePath = "docker/Dockerfile.api-gateway"

[deploy]
startCommand = "node src/server.js"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
