[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
rootDirectory = "microservices/product-service"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
