
[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[build.args]
SERVICE_NAME = "review-service"
SERVICE_PORT = "3007"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100
