
[build]
builder = "NIXPACKS"
nixpacksConfigPath = "nixpacks.toml"
watchPatterns = ["src/**", "package.json"]

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 300
