[phases.setup]
nixPkgs = ['nodejs', 'curl']

[phases.install]
cmds = [
  'rm -rf node_modules package-lock.json',
  'npm install --omit=dev --no-audit --no-fund --prefer-online',
  'mkdir -p node_modules/@flores-victoria',
  'cp -r ../shared node_modules/@flores-victoria/',
  'cd node_modules/@flores-victoria/shared && rm -rf node_modules package-lock.json && npm install --omit=dev --no-audit --no-fund --prefer-online'
]

[start]
cmd = 'node src/server.js'
